Repository tarrinneal/packages, changes with the labels that .github/labeler.yml gives for each.
All labels: p: animations, p: camera, p: cross_file, p: css_colors, p: cupertino_icons, p: dynamic_layouts, p: espresso, p: extension_google_sign_in_as_googleapis_auth, p: file_selector, p: flutter_adaptive_scaffold, p: flutter_image, p: flutter_lints, p: flutter_markdown, p: flutter_migrate, p: flutter_plugin_android_lifecycle, p: flutter_template_images, p: go_router, p: go_router_builder, p: google_identity_services, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: ios_platform_images, p: local_auth, p: metrics_center, p: multicast_dns, p: palette_generator, p: path_provider, p: pigeon, p: plugin_platform_interface, p: pointer_interceptor, p: quick_actions, p: rfw, p: shared_preferences, p: standard_message_codec, p: url_launcher, p: video_player, p: web_benchmarks, p: webview_flutter, p: xdg_directories, platform-android, platform-ios, platform-linux, platform-macos, platform-web, platform-windows

.github/labeler.yml:

'p: animations':
  - packages/animations/**/*

'p: camera':
  - packages/camera/**/*

'p: cross_file':
  - packages/cross_file/**/*

'p: css_colors':
  - packages/css_colors/**/*

'p: cupertino_icons':
  - third_party/packages/cupertino_icons/**/*

'p: dynamic_layouts':
  - packages/dynamic_layouts/**/*

'p: espresso':
  - packages/espresso/**/*

'p: extension_google_sign_in_as_googleapis_auth':
  - packages/extension_google_sign_in_as_googleapis_auth/**/*

'p: file_selector':
  - packages/file_selector/**/*

'p: flutter_adaptive_scaffold':
  - packages/flutter_adaptive_scaffold/**/*

'p: flutter_image':
  - packages/flutter_image/**/*

'p: flutter_lints':
  - packages/flutter_lints/**/*

'p: flutter_markdown':
  - packages/flutter_markdown/**/*

'p: flutter_migrate':
  - packages/flutter_migrate/**/*

'p: flutter_plugin_android_lifecycle':
  - packages/flutter_plugin_android_lifecycle/**/*

'p: flutter_template_images':
  - packages/flutter_template_images/**/*

'p: go_router':
  - packages/go_router/**/*

'p: go_router_builder':
  - packages/go_router_builder/**/*

'p: google_identity_services':
  - packages/google_indentity_services_web/**

'p: google_maps_flutter':
  - packages/google_maps_flutter/**/*

'p: google_sign_in':
  - packages/google_sign_in/**/*

'p: image_picker':
  - packages/image_picker/**/*

'p: in_app_purchase':
  - packages/in_app_purchase/**/*

'p: ios_platform_images':
  - packages/ios_platform_images/**/*

'p: local_auth':
  - packages/local_auth/**/*

'p: metrics_center':
  - packages/metrics_center/**/*

'p: multicast_dns':
  - packages/multicast_dns/**/*

'p: palette_generator':
  - packages/palette_generator/**/*

'p: path_provider':
  - packages/path_provider/**/*

'p: pigeon':
  - packages/pigeon/**/*

'p: plugin_platform_interface':
  - packages/plugin_platform_interface/**/*

'p: pointer_interceptor':
  - packages/pointer_interceptor/**/*

'p: quick_actions':
  - packages/quick_actions/**/*

'p: rfw':
  - packages/rfw/**/*

'p: shared_preferences':
  - packages/shared_preferences/**/*

'p: standard_message_codec':
  - packages/standard_message_codec/**/*

'p: url_launcher':
  - packages/url_launcher/**/*

'p: video_player':
  - packages/video_player/**/*

'p: web_benchmarks':
  - packages/web_benchmarks/**/*

'p: webview_flutter':
  - packages/webview_flutter/**/*

'p: xdg_directories':
  - packages/xdg_directories/**/*

'platform-android':
  - packages/*/*_android/**/*
  - packages/**/android/**/*

'platform-ios':
  - packages/*/*_ios/**/*
  - packages/*/*_storekit/**/*
  - packages/*/*_wkwebview/**/*
  - packages/**/ios/**/*

'platform-linux':
  - packages/*/*_linux/**/*
  - packages/**/linux/**/*

'platform-macos':
  - packages/*/*_macos/**/*
  - packages/**/macos/**/*

'platform-web':
  - packages/*/*_web/**/*
  - packages/**/web/**/*

'platform-windows':
  - packages/*/*_windows/**/*
  - packages/**/windows/**/*

gen
  packages/pigeon/mock_handler_tester/test/message.dart
  packages/pigeon/mock_handler_tester/test/test.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/core_tests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/flutter_unittests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/multiple_arity.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/non_null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/nullable_returns.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/primitive.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
Labels: p: pigeon, platform-android, platform-ios, platform-macos, platform-windows

missed a ? or two
  packages/pigeon/lib/kotlin_generator.dart
  packages/pigeon/lib/swift_generator.dart
  packages/pigeon/test/kotlin_generator_test.dart
Labels: p: pigeon

no these versions
  packages/shared_preferences/shared_preferences_android/example/android/app/build.gradle
Labels: p: shared_preferences, platform-android

remove unneeded test, current failures are unknown to me
  packages/shared_preferences/shared_preferences_android/example/android/app/src/androidTest/kotlin/io/flutter/plugins/shared_preferences_example/PreloadedPreferenceTest.kt
Labels: p: shared_preferences, platform-android

@JvmField
  packages/shared_preferences/shared_preferences_android/example/android/app/src/androidTest/kotlin/io/flutter/plugins/shared_preferences_example/MainActivityTest.kt
Labels: p: shared_preferences, platform-android

straight from the cameras mouth
  packages/shared_preferences/shared_preferences_android/example/android/app/build.gradle
  packages/shared_preferences/shared_preferences_android/example/android/app/src/androidTest/kotlin/io/flutter/plugins/shared_preferences_example/MainActivityTest.kt
Labels: p: shared_preferences, platform-android

copying pigeon again
  packages/shared_preferences/shared_preferences_android/example/android/app/build.gradle
  packages/shared_preferences/shared_preferences_android/example/android/app/src/debug/AndroidManifest.xml
  packages/shared_preferences/shared_preferences_android/example/android/app/src/main/AndroidManifest.xml
  packages/shared_preferences/shared_preferences_android/example/android/app/src/main/kotlin/io/flutter/plugins/shared_preferences_example/MainActivity.kt
  packages/shared_preferences/shared_preferences_android/example/android/app/src/profile/AndroidManifest.xml
  packages/shared_preferences/shared_preferences_android/example/android/build.gradle
  packages/shared_preferences/shared_preferences_android/example/android/settings.gradle
Labels: p: shared_preferences, platform-android

missed one
  packages/shared_preferences/shared_preferences_android/example/android/app/src/main/AndroidManifest.xml
Labels: p: shared_preferences, platform-android

remove kt test files
  packages/shared_preferences/shared_preferences_android/example/android/app/src/androidTest/kotlin/io/flutter/plugins/DartIntegrationTest.kt
  packages/shared_preferences/shared_preferences_android/example/android/app/src/androidTest/kotlin/io/flutter/plugins/shared_preferences_example/MainActivityTest.kt
Labels: p: shared_preferences, platform-android

exclude and revert accidental pigeon change
  packages/pigeon/platform_tests/test_plugin/example/android/app/src/main/AndroidManifest.xml
  script/configs/exclude_integration_android_emulator.yaml
Labels: p: pigeon, platform-android

copy android example from file selector
  packages/shared_preferences/shared_preferences_android/example/android/.gitignore
  packages/shared_preferences/shared_preferences_android/example/android/app/build.gradle
  packages/shared_preferences/shared_preferences_android/example/android/app/src/androidTest/java/dev/flutter/packages/shared_preferences_example/MainActivityTest.java
  packages/shared_preferences/shared_preferences_android/example/android/app/src/debug/AndroidManifest.xml
  packages/shared_preferences/shared_preferences_android/example/android/app/src/main/AndroidManifest.xml
  packages/shared_preferences/shared_preferences_android/example/android/app/src/main/java/dev/flutter/packages/shared_preferences_example/MainActivity.java
  packages/shared_preferences/shared_preferences_android/example/android/app/src/main/java/io/flutter/plugins/DartIntegrationTest.java
  packages/shared_preferences/shared_preferences_android/example/android/app/src/main/java/io/flutter/plugins/sharedpreferencesexample/MainActivity.java
  packages/shared_preferences/shared_preferences_android/example/android/app/src/main/res/raw/ic_launcher.png
  packages/shared_preferences/shared_preferences_android/example/android/app/src/main/res/values-night/styles.xml
  packages/shared_preferences/shared_preferences_android/example/android/app/src/main/res/values/styles.xml
  packages/shared_preferences/shared_preferences_android/example/android/app/src/profile/AndroidManifest.xml
  packages/shared_preferences/shared_preferences_android/example/android/build.gradle
  packages/shared_preferences/shared_preferences_android/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/shared_preferences/shared_preferences_android/example/android/settings.gradle
Labels: p: shared_preferences, platform-android

?
  packages/shared_preferences/shared_preferences_android/android/src/main/kotlin/io/flutter/plugins/sharedpreferences/SharedPreferencesPlugin.kt
Labels: p: shared_preferences, platform-android

remove
  packages/shared_preferences/shared_preferences_android/example/android/app/build.gradle
Labels: p: shared_preferences, platform-android

that's no espresso
  packages/shared_preferences/shared_preferences_android/example/android/app/build.gradle
Labels: p: shared_preferences, platform-android

found the last issue
  packages/shared_preferences/shared_preferences_android/example/android/.gitignore
  packages/shared_preferences/shared_preferences_android/example/android/app/src/main/java/dev/flutter/packages/shared_preferences_example/MainActivity.java
  packages/shared_preferences/shared_preferences_android/example/android/app/src/main/java/dev/flutter/plugins/shared_preferences_example/MainActivity.java
  packages/shared_preferences/shared_preferences_android/example/android/build.gradle
Labels: p: shared_preferences, platform-android

It's a start
  packages/pigeon/lib/src/dart/dart_generator.dart
  packages/pigeon/lib/src/kotlin/jnigen_yaml_generator.dart
  packages/pigeon/lib/src/kotlin/kotlin_generator.dart
  packages/pigeon/lib/src/pigeon_lib.dart
  packages/pigeon/pigeons/jni_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/integration_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/jni.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/jni_tests.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/jni_tests.gen.jni.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/pubspec.yaml
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/.gitignore
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/JniTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/TestPlugin.kt
  packages/pigeon/platform_tests/test_plugin/pubspec.yaml
  packages/pigeon/pubspec.yaml
  packages/pigeon/tool/shared/generation.dart
Labels: p: pigeon, platform-android

generics
  packages/pigeon/lib/src/dart/dart_generator.dart
  packages/pigeon/lib/src/kotlin/kotlin_generator.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/integration_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/message.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/jni.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/jni_tests.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/test/message_test.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/JniTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/TestPlugin.kt
  packages/pigeon/platform_tests/test_plugin/example/jnigen.yaml
  packages/pigeon/platform_tests/test_plugin/example/pubspec.yaml
Labels: p: pigeon, platform-android

Dart api generic, next up -> class to and from jni, tests need equality methods
  packages/pigeon/lib/src/dart/dart_generator.dart
  packages/pigeon/lib/src/kotlin/jnigen_yaml_generator.dart
  packages/pigeon/lib/src/pigeon_lib.dart
  packages/pigeon/pigeons/jni_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/integration_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/message.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/jni_tests.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/jni_tests.gen.jni.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/test/message_test.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/JniTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/TestPlugin.kt
  packages/pigeon/platform_tests/test_plugin/example/jnigen.yaml
Labels: p: pigeon, platform-android

analyzer and newln
  analysis_options.yaml
  packages/pigeon/lib/src/dart/dart_generator.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/jni_tests.gen.dart
Labels: p: pigeon

flutter api
  packages/pigeon/example/app/ios/Runner/Messages.g.swift
  packages/pigeon/lib/src/dart/dart_generator.dart
  packages/pigeon/lib/src/swift/ffigen_config_generator.dart
  packages/pigeon/lib/src/swift/swift_generator.dart
  packages/pigeon/pigeons/ni_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/integration_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/ni_integration_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/ni_tests.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/ni_tests.gen.ffi.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/ni_tests.gen.jni.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/NiTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/TestPlugin.kt
  packages/pigeon/platform_tests/test_plugin/darwin/test_plugin/Sources/test_plugin/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/darwin/test_plugin/Sources/test_plugin/NiTests.gen.m
  packages/pigeon/platform_tests/test_plugin/darwin/test_plugin/Sources/test_plugin/NiTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/darwin/test_plugin/Sources/test_plugin/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/example/build_output.txt
  packages/pigeon/platform_tests/test_plugin/example/ffigen_config.dart
  packages/pigeon/platform_tests/test_plugin/example/ios/Flutter/AppFrameworkInfo.plist
  packages/pigeon/platform_tests/test_plugin/example/jnigen.yaml
  packages/pigeon/platform_tests/test_plugin/example/macos/Podfile
  packages/pigeon/platform_tests/test_plugin/example/macos/Runner.xcodeproj/project.pbxproj
  packages/pigeon/platform_tests/test_plugin/example/temp/NiTests.gen.o
  packages/pigeon/platform_tests/test_plugin/example/temp/test_plugin.h
  packages/pigeon/platform_tests/test_plugin/example/test_output.txt
  packages/pigeon/platform_tests/test_plugin/ios/Classes/NiTests.gen.swift
Labels: p: pigeon, platform-android, platform-ios, platform-macos

fix swift optional bug
  packages/pigeon/lib/src/swift/swift_generator.dart
  packages/pigeon/platform_tests/test_plugin/darwin/test_plugin/Sources/test_plugin/NiTests.gen.swift
Labels: p: pigeon

add nullable tests and more sync tests
  packages/pigeon/pigeons/ni_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/ni_integration_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/ni_tests.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/ni_tests.gen.ffi.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/ni_tests.gen.jni.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/NiTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/TestPlugin.kt
  packages/pigeon/platform_tests/test_plugin/darwin/test_plugin/Sources/test_plugin/NiTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/darwin/test_plugin/Sources/test_plugin/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/example/temp/NiTests.gen.o
  packages/pigeon/platform_tests/test_plugin/example/temp/test_plugin.h
Labels: p: pigeon, platform-android

flutter api async methods
  packages/pigeon/example/app/ios/Runner/Messages.g.swift
  packages/pigeon/lib/src/dart/dart_generator.dart
  packages/pigeon/lib/src/swift/ffigen_config_generator.dart
  packages/pigeon/lib/src/swift/swift_generator.dart
  packages/pigeon/pigeons/ni_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/comparison_benchmarks.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/integration_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/ni_integration_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/ni_tests.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/ni_tests.gen.ffi.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/ni_tests.gen.jni.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/pubspec.yaml
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/NiTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/TestPlugin.kt
  packages/pigeon/platform_tests/test_plugin/darwin/test_plugin/Sources/test_plugin/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/darwin/test_plugin/Sources/test_plugin/NiTests.gen.m
  packages/pigeon/platform_tests/test_plugin/darwin/test_plugin/Sources/test_plugin/NiTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/darwin/test_plugin/Sources/test_plugin/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/example/ffigen_config.dart
  packages/pigeon/platform_tests/test_plugin/example/integration_test/benchmarks_test.dart
  packages/pigeon/platform_tests/test_plugin/example/pubspec.yaml
  packages/pigeon/platform_tests/test_plugin/example/temp/NiTests.gen.o
  packages/pigeon/platform_tests/test_plugin/example/temp/test_plugin.h
  packages/pigeon/platform_tests/test_plugin/example/test_output.txt
  packages/pigeon/platform_tests/test_plugin/pubspec.yaml
Labels: p: pigeon, platform-android, platform-ios

error handling and tests
  packages/pigeon/lib/src/dart/dart_generator.dart
  packages/pigeon/pigeons/ni_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/ni_integration_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/ni_tests.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/ni_tests.gen.ffi.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/ni_tests.gen.jni.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/NiTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/TestPlugin.kt
  packages/pigeon/platform_tests/test_plugin/darwin/test_plugin/Sources/test_plugin/NiTests.gen.m
  packages/pigeon/platform_tests/test_plugin/darwin/test_plugin/Sources/test_plugin/NiTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/darwin/test_plugin/Sources/test_plugin/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/example/temp/NiTests.gen.o
  packages/pigeon/platform_tests/test_plugin/example/temp/test_plugin.h
Labels: p: pigeon, platform-android

basic thread tests
  packages/pigeon/pigeons/ni_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/ni_integration_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/ni_tests.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/ni_tests.gen.ffi.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/ni_tests.gen.jni.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/NiTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/TestPlugin.kt
  packages/pigeon/platform_tests/test_plugin/darwin/test_plugin/Sources/test_plugin/NiTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/darwin/test_plugin/Sources/test_plugin/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/example/temp/NiTests.gen.o
  packages/pigeon/platform_tests/test_plugin/example/temp/test_plugin.h
Labels: p: pigeon, platform-android

fix swftFunction
  packages/pigeon/lib/src/swift/swift_generator.dart
  packages/pigeon/pigeons/ni_tests.dart
  packages/pigeon/platform_tests/test_plugin/darwin/test_plugin/Sources/test_plugin/NiTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/darwin/test_plugin/Sources/test_plugin/TestPlugin.swift
Labels: p: pigeon

add back tests for named/optional params
  packages/pigeon/pigeons/ni_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/ni_integration_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/ni_tests.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/ni_tests.gen.ffi.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/ni_tests.gen.jni.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/NiTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/TestPlugin.kt
  packages/pigeon/platform_tests/test_plugin/darwin/test_plugin/Sources/test_plugin/NiTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/darwin/test_plugin/Sources/test_plugin/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/example/temp/NiTests.gen.o
  packages/pigeon/platform_tests/test_plugin/example/temp/test_plugin.h
Labels: p: pigeon, platform-android
